{{#if hasVisibleItems}}
<div class="magicitems-feats-content">
	<div class="inventory-filters spellbook-filters magicitems-head">
		<label>
			<h3>
				{{localize "MAGICITEMS.SettingTabNames"}} - {{localize "MAGICITEMS.SheetTot"}}: {{magicItemsCount}}, {{localize "MAGICITEMS.SheetActives"}}:
				{{magicItemsActiveCount}}
			</h3>
		</label>
	</div>
	{{#each items as |item i|}} 
	{{#if (and visible active hasFeats)}}
	<div class="items-section card" data-type="spell" {{dnd5e-dataset dataset}}>
		<div class="items-header header">
			<h3 class="item-name spell-header" draggable="true">{{name}}</h3>
			{{#if chargesOnWholeItem}}
			<div class="item-header spell-slots">
				{{#if sheetEditable}}
				<input data-item-uses="magicitems.{{id}}.uses" type="text" value="{{uses}}" placeholder="0" />
				<span class="sep"> / {{charges}}</span>
				{{else}}
				{{uses}} / {{charges}}
				{{/if}}
			</div>
			{{/if}}
      		{{#if chargesPerSpell}}
			<div class="item-header spell-slots">
				{{localize "MAGICITEMS.SheetUses"}}
			</div>
			{{/if}}
			<div class="item-header spell-rechargeable">{{rechargeableLabel}}</div>
			<div class="item-header feat-consumption">{{localize "MAGICITEMS.SheetFeatOnUsage"}}</div>
		</div>
		<ol class="item-list unlist">
			<!-- FEATURES INTEGRATION -->
			{{#each feats as |feat|}}
			<li
				class="item magic-item"
				data-magic-item-id="{{../id}}"
				data-item-id="{{feat.id}}"
				data-item-uuid="{{feat.uuid}}"
				data-entry-id="{{../id}}"
				draggable="true">
				<div class="item-row">
					<div class="item-name item-action item-tooltip rollable" role="button" aria-label="{{feat.displayName}}">
						<img class="item-image gold-icon magic-item-image" src="{{feat.img}}" alt="{{feat.name}}">
						<div class="name name-stacked">
							<span class="title">{{ feat.displayName }}</span>
							<span class="feat-subtitle subtitle">
								{{ feat.featAction }}
							</span>
						</div>
						<div class="tags"></div>
					</div>
					{{#if ../chargesPerSpell}}
					<div class="item-detail spell-slots">
						{{#if ../sheetEditable}}
						<input
							data-item-uses="magicitems.{{../id}}.{{feat.id}}.uses"
							type="text"
							value="{{feat.uses}}"
							placeholder="0"
							/>
						<span class="sep"> / </span>
						<input type="text" value="{{../charges}}" placeholder="0" />
						{{else}}
						{{feat.uses}} / {{../charges}}
						{{/if}}
					</div>
					<div class="item-detail spell-rechargeable">-</div>
					{{/if}}
					<div class="item-detail feat-consumption">
						<span class="condensed">{{feat.consumptionLabel}}</span>
					</div>
				</div>
			</li>
			{{/each}}
			<!-- ROLLTABLES INTEGRATION -->
			{{#if hasTableAsFeats}} {{#each tableAsFeats as |table|}}
			<li
				class="item magic-item"
				data-magic-item-id="{{../id}}"
				data-item-id="{{table.id}}"
				data-item-uuid="{{table.uuid}}"
				data-entry-id="{{../id}}"
				draggable="true">
				<div class="item-row">
					<div class="item-name item-action item-tooltip rollable" role="button" aria-label="{{table.displayName}}">
								<img class="item-image gold-icon magic-item-image" src="{{table.img}}" alt="{{table.name}}">
							<div class="name name-stacked">
						<span class="title">{{ table.displayName }}</span>
						<span class="subtitle"></span>
							</div>
							<div class="tags"></div>
					</div>
					{{#if ../chargesPerSpell}}
					<div class="item-detail spell-slots">
						{{#if ../sheetEditable}}
						<input
							data-item-uses="magicitems.{{../id}}.{{table.id}}.uses"
							type="text"
							value="{{table.uses}}"
							placeholder="0"
							/>
						<span class="sep"> / </span>
						<input type="text" value="{{../charges}}" placeholder="0" />
						{{else}}
						{{feats.uses}} / {{../charges}}
						{{/if}}
					</div>
					<div class="item-detail spell-rechargeable">-</div>
					{{/if}}
					<div class="item-detail feat-consumption">
						<span class="condensed">{{table.consumption}}</span>
        			</div>
				</div>
			</li>
			{{/each}} {{/if}}
		</ol>
	</div>
  {{/if}} {{/each}}
</div>
{{/if}}
